
section.conteiner-carousel {
  display: grid;
  grid-template-rows: 1fr 30px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
  align-items: end;
  justify-items: center;
  
  padding: 20px 0px;
}

section.carousel {
  grid-row: 1;
  grid-column: 1 / 8;
  width: 90vw;
  height: 400px;

  padding: 0px 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 300px;
}

div.carousel-item {
  position: absolute;
  width: 750px;
  height: 400px;

  padding: 10px;

  background-color: rgb(30, 34, 43);
  box-shadow: 10px 0px 18px -8px rgba(31, 20, 20, 0.4),-10px 0px 18px -8px rgba(0,0,0,0.4);

  transition: all 0.4s ease-out;

  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  
  transform: rotateY(calc(-2deg * var(--r)))
    translateX(calc(-150px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
}

div.carousel-item > div {
  color: whitesmoke;
  display: none;
}

div.carousel-item:hover > div {
  display: block;
}

div.carousel-item:nth-of-type(1) {
  --offset: 1;
}
div.carousel-item:nth-of-type(2) {
  --offset: 2;
}
div.carousel-item:nth-of-type(3) {
  --offset: 3;
}
div.carousel-item:nth-of-type(4) {
  --offset: 4;
}
div.carousel-item:nth-of-type(5) {
  --offset: 5;
}


input:nth-of-type(1) {
  grid-column: 2;
  grid-row: 2;
}
input:nth-of-type(1):checked ~ section.carousel {
  --position: 1;
}
input:nth-of-type(1):checked ~ section.carousel > div.carousel-item:nth-of-type(1) > div {
  display: block;
}

input:nth-of-type(2) {
  grid-column: 3;
  grid-row: 2;
}
input:nth-of-type(2):checked ~ section.carousel {
  --position: 2;
}
input:nth-of-type(2):checked ~ section.carousel > div.carousel-item:nth-of-type(2) > div {
  display: block;
}

input:nth-of-type(3) {
  grid-column: 4;
  grid-row: 2;
}
input:nth-of-type(3):checked ~ section.carousel {
  --position: 3;
}
input:nth-of-type(3):checked ~ section.carousel > div.carousel-item:nth-of-type(3) > div {
  display: block;
}

input:nth-of-type(4) {
  grid-column: 5;
  grid-row: 2;
}
input:nth-of-type(4):checked ~ section.carousel {
  --position: 4;
}
input:nth-of-type(4):checked ~ section.carousel > div.carousel-item:nth-of-type(4) > div {
  display: block;
}

input:nth-of-type(5) {
  grid-column: 6;
  grid-row: 2;
}
input:nth-of-type(5):checked ~ section.carousel {
  --position: 5;
}
input:nth-of-type(5):checked ~ section.carousel > div.carousel-item:nth-of-type(5) > div {
  display: block;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: rgb(30, 34, 43);

  font: inherit;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid rgba(15, 18, 22, 0.5);
  border-radius: 50%;

  display: grid;
  place-content: center;
}

input[type="radio"]:hover {
  transition: 120ms ease-out;
  outline: max(2px, 0.15em) solid rgb(15, 18, 22);
  outline-offset: max(2px, 0.15em);
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms ease-in-out;
  box-shadow: inset 1em 1em rgb(101, 73, 187);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}