main > section.container-alternative > div.content {
    display: grid;
    justify-items: stretch;
    grid-template-areas: "img img"
                         "alternative1 alternative1";
    column-gap: 4px;
}