main section.container-alternative {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-around;
    row-gap: 2em;
}

main section.container-alternative > div.content {
    display: grid;
    justify-items: center;
    grid-template-areas: "img img"
                         "alternative1  alternative2"
                         "alternative3  alternative4";
    column-gap: 4px;

    width: 270px;
}

main section.teacher-dialogue > div.ex-quest{
    display:flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

main section.teacher-dialogue > div.ex-quest > div {
    display: grid;
    grid-template-areas: "canva";
}

main section.teacher-dialogue > div.ex-quest > div div, main section.teacher-dialogue > div.ex-quest > div canvas{
    grid-area: canva;
}

main section.teacher-dialogue > div.ex-quest > div div.light {
    border-radius: 100%;
    width: 10px;
    height: 10px;
    background-color: blue;
    box-shadow: 0px 0px 30px 5px blue;
}

#light1 {
    position: relative;
    top: 80px;
    left: 17.5px;
    transform: translateY(-50px) translateX(32px) scale(0);
    animation: light1 2s ease-out infinite;
}

@keyframes light1 {
    0% {
        transform: scale(0) translateY(0px) translateX(0px);
    }
    10% {
        transform: scale(1) translateY(0px) translateX(0px);
    }
    50% {
        transform: translateY(-50px) translateX(0px);
    }
    90% {
        transform: translateY(-50px) translateX(32px) scale(1);
    }
    100% {
        transform: translateY(-50px) translateX(32px) scale(0);
    }
}

#light2 {
    position: relative;
    top: 80px;
    left: 17.5px;
    transform: translateY(15px) translateX(0px) scale(0);
    animation: light2 4.5s ease-out infinite;
}

@keyframes light2 {
    0% {
        transform: translateY(0px) translateX(0px) scale(0);
    }
    2.5% {
        transform: translateY(0px) translateX(0px) scale(1);
    }
    12.5% {
        transform: translateY(-50px) translateX(0px);
    }
    35% {
        transform: translateY(-50px) translateX(150px);
    }
    45% {
        transform: translateY(0px) translateX(150px) scale(1);
    }
    48% {
        transform: translateY(0px) translateX(160px) scale(0);
    }
    52% {
        transform: translateY(15px) translateX(160px) scale(0);
    }
    54.5% {
        transform: translateY(15px) translateX(150px) scale(1);
    }
    65% {
        transform: translateY(70px) translateX(150px);
    }
    85% {
        transform: translateY(70px) translateX(0px);
    }
    92% {
        transform: translateY(15px) translateX(0px) scale(1);
    }
    100% {
        transform: translateY(15px) translateX(0px) scale(0);
    }
}

main section.teacher-dialogue > div.ex-quest > div div#bulb {
    border-radius: 100%;
    width: 38px;
    height: 38px;

    background-color: rgb(255, 238, 0);
    box-shadow: 0px 0px 30px 8px rgb(255, 238, 0);

    position: relative;
    top: 73px;
    left: 203px;
}

main section.teacher-dialogue > div.ex-quest > div div.switch-line {
    width: 80px;
    height: 2px;
    
    background-color: black;

    position: relative;
    top: 34px;
    left: 52px;
}

main section.teacher-dialogue > div.ex-quest > div div#switch-line-open {
    
    transform-origin: 0 0;
    transform: rotate(-20deg);

}

main section.teacher-dialogue > div.ex-quest > div div#wire-empty {
    width: 0px;
    height: 0px;
}
