span {
    font-family: Arial, Helvetica, sans-serif;
}

.option {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 8px;
    border: 2px solid #ddd;

    padding: 5px 12.5px 5px 12.5px;
}

.container {
    padding: 0px 15px 50px 15px;
}

.grid-container-H {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px 0px 5px 0px;
    column-gap: 8px;

    text-align: center;
}

#one-column-only {
    grid-template-columns: auto;
    justify-content: center;
    margin-bottom: 25px;
}

.grid-container-V {
    display: grid;
    grid-template-rows: auto auto;
    padding: 25px 10px 5px 10px;
    row-gap: 12px;
}

#img-quest-div img {
    width: 350px;
    height: 125px;
}

#submit-button {
    border-radius: 18px;
    padding: 10px 15px 10px 15px;
    border: 2px solid #ddd;

    font-size: 16px;
}

#submit-button:hover {
    font-weight: bold;

    border: 2px solid #2575be;
}