
main {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

main section.container-alternative > div.content > img {
    grid-area: img;
    height: 92px;
    max-width: 270px;;
    margin-bottom: 8px;
}

main section.container-alternative > div.content > div.alternative {
    border-radius: 8px;
    border: 2px solid #ddd;

    display: flex;
    flex-direction: row;
    column-gap: 4px;

    justify-content: center;
    align-items: center;

    padding: 5px 12.5px 5px 12.5px;
}

main section.container-alternative > div.content > div.alternative:nth-of-type(1) {
    grid-area: alternative1;
}

main section.container-alternative > div.content > div.alternative:nth-of-type(2) {
    grid-area: alternative2;
}

main section.container-alternative > div.content > div.alternative:nth-of-type(3) {
    grid-area: alternative3;
}

main section.container-alternative > div.content > div.alternative:nth-of-type(4) {
    grid-area: alternative4;
}

main section.teacher-dialogue {
    display: grid;
    grid-template-columns: 185px 400px 1fr;
    grid-template-rows: 1fr;
    column-gap: 25px;

    align-items: start;
}

main section.teacher-dialogue > img{
    margin-top: 8px;
    height: 185px;
}

main section.teacher-dialogue > div.teacher-dialog-text > span.teacher-dialog-text-span::after {
    content: '|';
    margin-left: 2px;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

main section.next-ex {
    display: grid;
    justify-content: center;

    margin-top: 15px;
}

form {
    display: flex;
    flex-direction: column;

    row-gap: 30px;
}

.game-button {
    padding: 6px 15px;

    border-radius: 8px;
    background-color: rgb(30, 34, 43);

    color: whitesmoke;
}

span.game-button {
    font-weight: 400;

    transition: all .15s ease-in-out;
}

span.game-button:hover {
    color:rgb(184, 108, 255);
    text-decoration:underline;
}

div.game-button {
    display: flex;
    flex-direction: row;
    column-gap: 3px;
}

button {
    font-size: 16px;
    padding: 0px;

    cursor: pointer;
}

button.transparent {
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: rgb(30, 34, 43);
  
    font: inherit;
    width: 1.05em;
    height: 1.05em;
    border: 0.15em solid rgba(15, 18, 22, 0.5);
    border-radius: 50%;
  
    display: grid;
    place-content: center;
}
  
input[type="radio"]:hover {
    transition: 120ms ease-out;
    outline: max(2px, 0.15em) solid rgb(15, 18, 22);
    outline-offset: max(2px, 0.15em);
}
  
input[type="radio"]::before {
    content: "";
    width: 0.55em;
    height: 0.55em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms ease-in-out;
    box-shadow: inset 1em 1em rgb(101, 73, 187);
}
  
input[type="radio"]:checked::before {
    transform: scale(1);
}