main > section.container-alternative {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
    row-gap: 2em;
}

main > section.container-alternative > div.content {
    display: grid;
    justify-items: center;
    grid-template-areas: "img img"
                         "alternative1 alternative1";
    column-gap: 4px;

    width: 270px;
}

main > section.teacher-dialogue > div.ex-quest > div{
    max-width: 400px;
}


main > section.teacher-dialogue > div.ex-quest span{
    font-weight: 600;
}

main > section.teacher-dialogue > div.ex-quest img{
    max-height: 180px;
}

main > section.teacher-dialogue > div.ex-quest{
    display: grid;
    justify-items: center;
}