* {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0.8rem;
    border: 0px;
}

::-webkit-scrollbar-thumb {
    background: rgb(235, 235, 240); 
    box-shadow: inset 0px 0px 8px -4px rgba(94, 65, 180, 0.9); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(221, 221, 224); 
}

body {
    margin: 0px;

    min-height: 100vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 95px auto auto 1fr auto;
    grid-template-areas: 
        "header"
        "menu"
        "main"
        "footer";
}

header {
    grid-area: header;
    background-image: url("/images/header.jpg");

    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 95px;
    align-items: center;
    justify-content: start;
    align-content: center;
    column-gap: 12px;

    padding: 5px;
}

header > img {
    height: 90px;
}

header > p {
    mix-blend-mode: overlay;
    font-weight: 600;
    font-size: 2.2em;
}

header > div.profile {
    margin-right: 8px;
    display: flex;
    row-gap: 2px;
    flex-direction: column;
    align-items: center;
}

header > div.profile > div.profile-img {
    display: grid;
    align-items: end;
    grid-template-areas: "profile-pic";
}

header > div.profile > div.profile-img img.avatar {
    width: 60px;
    border-radius: 100%;
    grid-area: profile-pic;
}

header > div.profile > div.profile-img a.gear {
    margin-left: -12px;
    margin-bottom: -2px;
    grid-area: profile-pic;
}

header > div.profile > div.profile-name {
    padding: 0px 6px;
    background-color: rgba(41, 33, 49, 0.5);
    border-radius: 6px;
    color: whitesmoke;
}

header > div.profile > div.profile-name a {
    font-size: 13px;
}

.fill {
    grid-area: menu;
    background-color: rgba(40, 42, 46);
}

.menu {
    grid-area: menu;
    background-color: rgba(40, 42, 46, 0.95);

    position: -webkit-sticky;
    position: sticky;
    top: 0px;

    position: -webkit-sticky;
    position: sticky;

    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-around;

    z-index: 100;
    box-shadow: 0px 4px 8px 0px rgba(40,42,46,0.42);
}

.menu > a {
    font-size: 18px;
    color: whitesmoke;
    text-decoration: none;
    
    padding: 8px 35px;
    transition:all .2s linear;
}

.menu > a:hover{
    color: rgb(125, 83, 248);
    background-color: rgba(36, 38, 43, 0.75);
}

.main {
    grid-area: main;

    margin: 10px;
    padding: 24px 12px;
    background-color: #fbfbff;
    text-align: justify;

    overflow-x:hidden;

    height: max-content;

    z-index: 1;
    box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.30);
}

a.botton-line-important {
    color: whitesmoke;

    text-decoration: none;

    position: relative;
    display: block;
    overflow-x: hidden;
}

a.botton-line-important:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(101, 73, 187);

    overflow-x: hidden;

    animation: underline-ani 1s infinite;
}

@keyframes underline-ani {
    0% {
        transform: translate3d(-100%, 0, 0);
    }   
    50% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(100%, 0, 0);
    }
}

.footer {
    grid-area: footer;
    background-color: rgb(39, 44, 54);
    padding: 5px 15px;

    display: grid;
    grid-template-columns: 1fr 300px 300px;
    justify-items: stretch;
    column-gap: 25px;

    color: whitesmoke;
}

.footer > section {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.footer > section#site-info{
    text-align: justify;
}

.footer > section#site-info > p {
    text-align: justify;
    margin-block-start: 0em;
}

.footer > section > h3 {
    width: auto;
    border-bottom: 1px solid rgb(67, 76, 94);
}

.footer > section > div.links-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: column;
    column-gap: 1em;
}

.footer > section > div > div > h4 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-weight: 400;

    color: rgb(133, 101, 231);
    border-bottom: 1px solid rgb(116, 86, 204);
}

.footer > section a { 
    color: whitesmoke;
    text-decoration: none;

    transition:all .2s linear;
}

.footer > section a:hover { 
    color: rgb(160, 139, 223);
    text-decoration: underline;
}

.footer > section > div > div > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer > section > div.social-media {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer > section > div.social-media div > a.fa {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0px 0px 5px 0px;

    font-size: 18px;
    color: rgb(39, 44, 54);
    text-decoration: none;

    transition:all .3s linear;

    background-color:whitesmoke;
    width:33px;
    height:33px;
    border-radius:100%;
}

.footer > section > div.social-media > div:hover > a.fa {
    color: whitesmoke;
}

.footer > section > div.social-media > div:hover > a.fa-instagram {
    background-color: #f0335c;
}

.footer > section > div.social-media > div:hover > a.fa-github {
    background-color: #083983;
}

.footer > section > div.social-media div:hover > a.fa-google {
    background-color: rgb(233, 66, 53);
}

.footer > section > div.social-media > div#social-media-msg {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    column-gap: 8px;
}

.footer > section > div.social-media > div#social-media-msg > p {
    margin-block-start: 0em;
}